@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to Quoting Dojo!</h1>
<form action="/quotes" method="post">
    Your name: <input type="text" name="name"><br>
    Your quote: <br><textarea name="quote" cols="60" rows="5"></textarea><br>
    <button class="btn">ADD MY QUOTE!</button>
</form>
<form action="/quotes" method="get">
    <button class="btn">SKIP TO QUOTES!</button>
</form>