@{
    ViewData["Title"] = "Quotes List";
}
<h1>Here are the awesome quotes!</h1>
<hr>
@{
    foreach(var user in @ViewBag.quotes)
    {
        <blockquote>
            <h3>@user["quote"]</h3>
            <footer>@user["name"]; @user["created_at"]</footer>
        </blockquote>
    }
}
<form action="/" method="get">
    <button class="btn">BACK TO HOME</button>
</form>