<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>PROJECTS</title>
</head>
<body>
    <div id="projectwrap">
        <a href="/">HOME</a>&#8729;<a href="/project">PROJECTS</a>&#8729;<a href="/contact">CONTACTS</a><br><br>
        <h2>Projects</h2>
        <h3>Project 1</h3>
        <table cellspacing="10">
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Deck of Cards</td>
                <td><img src="~/images/Projects001.jpg" alt="Cards" class="proj"></td>
                <td>Attack the child stretch lies down put toy mouse in food bowl run out of litter box at full speed you call this cat food so eat grass, throw it back up. Meow in empty rooms you call this cat food sit in window and stare oooh, a bird, yum use lap as chair, so purr as loud as possible, be the most annoying cat that you can, and, knock everything off the table.</td>
            </tr>
        </table cellspacing="10">
        <h3>Project 2</h3>
        <table>
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Wizard, Ninja, Samurai</td>
                <td><img src="~/images/Projects003.png" alt="Wizard" class="proj"></td>
                <td>Attack the child stretch lies down put toy mouse in food bowl run out of litter box at full speed you call this cat food so eat grass, throw it back up. Meow in empty rooms you call this cat food sit in window and stare oooh, a bird, yum use lap as chair, so purr as loud as possible, be the most annoying cat that you can, and, knock everything off the table.</td>
            </tr>
        </table>
        <h3>Project 3</h3>
        <table cellspacing="10">
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Time Display</td>
                <td><img src="~/images/Projects002.jpg" alt="Time" class="proj"></td>
                <td>Attack the child stretch lies down put toy mouse in food bowl run out of litter box at full speed you call this cat food so eat grass, throw it back up. Meow in empty rooms you call this cat food sit in window and stare oooh, a bird, yum use lap as chair, so purr as loud as possible, be the most annoying cat that you can, and, knock everything off the table.</td>
            </tr>
        </table>
    </div>
</body>
</html>