body {
    width: 500px;
}
img {
    height: 200px;
}
img.proj {
    height: 100px;
}
div#contactwrap {
    background-color: pink;
}
div#projectwrap {
    background-color: rgb(211, 255, 145);
}
div#indexwrap {
    background-color: lightblue;
}
table {
    border: solid black 2px;
}