<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Time Display</title>
    </head>
    <body>
        <h2><font color="green">The current time and date:</font></h2>
        @{DateTime CurrentTime = DateTime.Now;}

        <h1>@DateTime.Now.ToString("MMM dd, yyyy")</h1>
        <h1>@DateTime.Now.ToString("h:mm:ss tt")</h1>

    </body>
</html>