/*Write all of your CSS here*/
* {
    color: rgb(47, 174, 129);
}
button {
    background-color: rgb(184, 235, 217);
    border-radius: 5px;
    border: none;
    padding: 8px;
}
div.side {
    display: inline-block;
}
button.sup {
    color: rgb(241, 255, 250);
    background-color: rgb(96, 211, 171);
}
p.header {
    color: rgb(255, 166, 0);
    font-weight: bold;
    letter-spacing: 3px;
}
textarea {
    border: solid 1px rgb(255, 166, 0);
}
button.comment {
    padding: 0px 3px 0px 3px;
    font-size: 10px;
    height: 20px;
}
textarea.textcom {
    font-size: 10px;
    color: rgb(255, 166, 0);
}