/*Write all of your CSS here*/
button {
    border-radius: 5px;
    background-color: pink;
}
input {
    background-color: rgb(255, 232, 236);
}
li {
    color: red;
}
input.pw {
    letter-spacing: 5px;
}