span {
    color: rgb(255, 101, 101);
}
h3 {
    color: rgb(0, 145, 255);
}
button {
    background-color: rgb(168, 232, 40);
}
.btn {
    display: inline-block;
    margin: 10px;
}
.stats {
    display: inline-block;
}
img {
    display: block;
}